--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0
spacy==3.7.4
numpy
scikit-learn
scipy
pandas
jsonnet
overrides
sentencepiece
tqdm
transformers
boto3
google-cloud-storage
lmdb
h5py
termcolor

